@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.image-animation {
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}