.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: -1;
  transform: rotate(-15deg);
}
.image-animation {
  animation: rotation 20s linear infinite;
}